body{
margin: 0;
padding: 0;
background: #8C93A8;

}
.name{
    
    width: 100%;
    height: 300px;
    background: #BBC2E2;
}
.name.content{

    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;

}

.name.content.p1{
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 65px;
}
.name.content.p2{
    color: #465362;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 40px;
}